<header class="masthead">
    <h1 class="masthead-heading">Tweetful</h1>
    <p class="masthead-intro">Making the internet a little bit thoughtful</p>
</header>

<div class="info-container">
    <section class="info">
      <header>
          <h2>Peter Lonestar</h2>
          <p>Founder</p>
      </header>
          <p>Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Maecenas faucibus mollis interdum.</p>
    </section>

    <section class="info">
      <header>
          <h2>Bill Billerson</h2>
          <p>CFO</p>
      </header>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore in consectetur consequuntur, ut sit hic eos, numquam modi voluptate velit, inventore exercitationem dicta corrupti tempora veniam et similique deserunt cumque.</p>
    </section>

    <section class="info">
      <header>
          <h2>Me!</h2>
          <p>CTO</p>
      </header>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat cumque aspernatur excepturi veritatis, minus assumenda accusamus odio ipsa. Accusantium est quasi debitis sequi, ex aperiam voluptatum esse at, enim nam.</p>
    </section>
</div>

<footer>
    Contact Us: <span>admin@tweetful.io</span>
</footer>
